<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-account card">
        <div class="panel-body">

          <%= form_for @pin, html: { multipart: true } do |f| %>
            <% if @pin.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

                <ul>
                <% @pin.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <p class="panel-info">Upload your photo below.</p>

            <div class="form-group">
              <%= f.file_field :image, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :description, placeholder: "Photo Description", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.select :device, options_for_select(%w[N6 S6 G4]), class: "form-control" %>
            </div>
            <div class="form-group last">
              <%= f.submit "Submit Photo", class: "btn btn-primary btn-material" %>
            </div>
          <% end %>

      </div>

      <div class="panel-footer">
        <%= link_to 'Go Back', pins_path %>
      </div>

    </div>
  </div>
</div>
