<div class="jumbotron">
  <%= link_to "+", new_pin_path, :class => "btn-floating btn-add-home" %>
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <h1>Flagship Photo</h1>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

      <div class="col-md-12">
        <p class="intro">Compare photo quality from the latest flagship mobile devices.</p>
      </div>

      <!-- Looping through all pins -->
      <% @pins.each_with_index do |pin, index| %>
        <!-- Checking to see if a pin is divisible by 3 because every 3rd pin should have a full width layout -->
        <% if((index + 1) % 3 == 0) %>
          <div class="fullCard">
            <div class="col-md-12">
              <div class="box panel panel-default">
                <a href="<%= pin_path(pin) %>">
                  <div class="card-image" style="background: url(<%= pin.image.url(:medium) %>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                    <span class="card-title"><%= pin.device %></span>
                  </div>
                </a>
                <div class="panel-body">
                  <div class="card-content">
                    <p><%= pin.description %></p>
                    <p><%= pin.user.email if pin.user %></p>
                  </div>
                  <div class="card-action">
                    <%= link_to 'Show', pin_path(pin) %>
                    <% if pin.user == current_user %>
                      <%= link_to 'Edit', edit_pin_path(pin) %>
                      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <!-- Checking to see if a pin is NOT divisible by 3 because we'll otherwise have repeat pins -->
        <% if((index + 1) % 3 != 0) %>
          <div class="halfCard">
            <div class="col-md-6">
              <div class="box panel panel-default">
                <a href="<%= pin_path(pin) %>">
                  <div class="card-image" style="background: url(<%= pin.image.url(:medium) %>) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                    <span class="card-title"><%= pin.device %></span>
                  </div>
                </a>
                <div class="panel-body">
                  <div class="card-content">
                    <p><%= pin.description %></p>
                    <p><%= pin.user.email if pin.user %></p>
                  </div>
                  <div class="card-action">
                    <%= link_to 'Show', pin_path(pin) %>
                    <% if pin.user == current_user %>
                      <%= link_to 'Edit', edit_pin_path(pin) %>
                      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

  </div>
</div>
