<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-account card">
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <% if @user.errors.any? %>
            <div id="flash_error">
              <% flash[:error] = @user.errors.full_messages.to_sentence %>
            </div>
          <% end %>

            <p class="panel-info">Log in with your email below.</p>

            <div class="form-group">
              <!-- <%= f.label :email %><br /> -->
              <%= f.email_field :email, autofocus: true, placeholder: "Email Address", class: "form-control" %>
            </div>

            <div class="form-group">
              <!-- <%= f.label :password %><br /> -->
              <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log In", class: "btn btn-primary btn-material" %>
            </div>
          <% end %>
        </div>

        <div class="panel-footer">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
