<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-account card">
        <div class="panel-body">

          <%= form_for @photo, html: { multipart: true } do |f| %>
            <% if @photo.errors.any? %>
              <div id="flash_error">
                <% flash[:error] = @photo.errors.full_messages.to_sentence %>
              </div>
            <% end %>

            <p class="panel-info">Edit your photo below.</p>

            <div class="form-group relative">
              <div class="title form-control form-input">Choose Photo</div>
              <%= f.file_field :image, class: "form-control form-input upload" %>
              <span class="upload-path form-control form-input"></span>
            </div>

            <div class="form-group">
              <%= f.text_field :description, placeholder: "Photo Description", class: "form-control" %>
            </div>

            <div class="form-group last">
              <%= f.submit "Submit Photo", class: "btn btn-primary btn-material" %>
            </div>

          <% end %>

      </div>

      <div class="panel-footer">
        <%= link_to 'Go Back', photos_path %>
      </div>

    </div>
  </div>
</div>
