<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div id="slideleft" class="slide">
        <div class="overlay"></div>
        <span class="sub-action">
          <button id="nav-toggle" class="hamburger-button" type="button"></button>
        </span>
        <div id="side-nav" class="inner" style="left: -240px;">
          <div class="side-nav-wrapper">
            <%= link_to "Flagship Photo", root_path, :class => "side-nav-logo" %>
            <nav>
              <dl>
                <% if user_signed_in? %>
                <dt><%= link_to "About", about_path %></dt>
                <dt><%= link_to "Account Settings", edit_user_registration_path %></dt>
                <dt><%= link_to "Log Out", destroy_user_session_path, method: :delete %></dt>
                <% else %>
                <dt><%= link_to "About", about_path %></dt>
                <dt><%= link_to "Log In", new_user_session_path %></dt>
                <dt><%= link_to "Sign up", new_user_registration_path %></dt>
                <% end %>
              </dl>
            </nav>
            <div class="legal">
              <p class="copyright">Flagship Photo ©</p>
              <a href="#">Privacy</a> &amp; <a href="#">Terms</a>
            </div>
          </div>
        </div>
        <%= link_to "Flagship Photo", root_path, :class => "navbar-brand" %>
        <%= link_to "+", new_pin_path, :class => "btn-floating btn-add-nav" %>
      </div>
    </div>
  </div>
</nav>
