<!DOCTYPE html>
<html>
<head>
  <title>Flagshipphoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body class="<%= yield (:body_class) %>">

<%= render 'layouts/navigation' unless @disable_nav %>
<%= render 'layouts/navigation_sub' if @sub_nav %>

<% flash.each do |name, msg| %>
  <% if flash[:error] -%>
    <%= content_tag(:div, msg, class: "alert alert-error") %>
  <% end %>
  <% if flash[:notice] -%>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
